.selected{
    margin-top: 100px;
    font-size: 35px;
}
.case{
    font-weight: bold;
    font-size: 20px;
    color:#E9204f ;
}
.selected h1{
    font-size: 40px;
    font-weight: bold;
}
.started{
    padding: 13px 22px;
    background-color:white ;
    font-size: 18px;
    color:black;
    
    border: 1px solid #E9204F;

}
.started:hover{
    color:white;
    background-color:#E9204F;
    font-size: 18px;
}
.case span{
    padding-left: 870px;
    margin-left: 100px;
}

.img-area{
    text-align: center;
    position: relative;
    color: white;
}
.img-text, .img-area:after{
    width: 100%;
    position: absolute;
    left: 0;
}
.img-area:after{
    content: "";
    height: 100%;
    top: 0;
    transition: .5s;
}
.img-area:hover:after{
    background:rgba(0, 0, 0, 0.8);
}
.img-text{
    padding:20px ;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
    transition: all .5s cubic-bezier(.13,.62,.81,.91) 0ss;
    transform: translateY(145px);
}
.img-text h3{
    font-family: big john;
    font-weight: bold;
}
.img-area:hover .img-text{
    transform: translateY(0);
}
@media (max-width:768px){
    .case span{
        margin-left: -870px;
    }
    .marg{
        margin-bottom: 100px;
        width: 330px;
    }
    .selected h1{
        font-size: 25px;
        font-weight: bold;
    }
}