.fot{
    background-color: black;
    color: white;
    margin-top: -70px;
    
}
.mobi{
    padding-top: 20px;
    padding-left: 90px;
    padding-bottom: 30px;
}
.list a {
   list-style: none;
   display: inline;
   padding-right: 10px;
   cursor: pointer;
}
.asan{
    margin-left: 90px;
}
.list{
    padding-top: 20px;
    margin-left: 160px;
}
.list a:hover{
  border-bottom: 2px solid #E9204F;
  color:#E9204F ;
}
@media (max-width:768px){
       .list{
           margin-left: -5px;
           padding-left: 90px;
           padding-bottom: 50px;
       }
}